.app-img {
    height: 40px;
}

li {
    font-size: 24px;
    font-weight: 600;

}

.carousel-section img {
    height: 450px;
}

button {
    padding: 9px !important;
}

.row-carousel {
    height: 200px;
}